/*todo: regola per tutta la pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 750px;
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

/** inizio header */
header {
    width: 100%;
    height: 12%;
    background-color: white;

}

.img-logo {
    width: 64px;
    position: absolute;
    top: 16px;
    left: 154px;
}

/** formattazione testo */
span {
    font-size: 60px;
    position: relative;
    top: 12px;
    left: 215px;
}

/** fine header */

/** inizio nav */
.nav-continer {
    width: 50%;
    background-color: white;
    margin: 22px 28%;
    padding: 10px 45px;
    border-radius: 10px;
}

.button1 {
    background-color: #47adf1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button2 {
    background-color: white;
    color: #6d7174aa;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #6d7174aa;
}

/** fine nav */
/** inizio main */
.main-continer {
    width: 50%;
    background-color: white;
    margin: 0px 28%;
    padding: 10px 45px;
    border-radius: 10px;
    line-height: 44px;
    display: inline-block;
}

/** caret down su h2 */
h2::before {
    content: ' \25BE';
}

ul {
    list-style: none;
}

/** footer */
footer {
    text-align: center;
    font-size: 15px;
    margin-top: 28px;
    color: #47adf1 ;
    text-shadow: -1px -1px 0px black;
}

/** fine lavoro */